# Assignment no:1

In [1]:
name = input("Enter the name of student: ")
print(name)
rollno=int(input('enter the roll no of student'))
print('Roll no =',rollno)
mark=int(input('enter the mark of the student'))
print('Mark =',mark)

Enter the name of student: Anisha
Anisha
enter the roll no of student21
Roll no = 21
enter the mark of the student78
Mark = 78

In [2]:
print("Enter the temperature in Fahrenheit: ")
f = float(input())
c = (f-32)/1.8
print("\nEquivalent temperature in Celsius: ", c)

Enter the temperature in Fahrenheit:
41

Equivalent temperature in Celsius:  5.0

In [3]:
no_1=int(input('enter the 1st number'))
no_2=int(input('enter the 2nd number'))
print('Product=',no_1*no_2)

enter the 1st number5
enter the 2nd number2
Product= 10

In [4]:
s = input("Enter the string:")
print("Learn**Python** by Developing a **Website**")

Enter the string:Learn Python by Developing a Website
Learn**Python** by Developing a **Website**

In [2]:
x = input("enter string:")
word_list = x.split()
out = []
for word in word_list:
    if word == "Python":
        out.append("**Python**")
    elif word == "Website":
        out.append("**Website**")
    else:
        out.append(word)
print(" ".join(out))

enter string:Learn Python by Developing a Website
Learn **Python** by Developing a **Website**

In [3]:
radius=float(input('enter the radius'))
print('area=',3.14*radius**2,'sqcm')

enter the radius5
area= 78.5 sqcm

In [18]:
list1=[1,2,3,4,5]
x=input("Enter the number")
y=input("Enter the position")
list1.insert(y,x)

Enter the number9
Enter the position3

TypeError: 'str' object cannot be interpreted as an integer

In [6]:
sample_dict = {"name":"Kelly","age": 25,"salary": 8000,"city": "New york"}
sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [7]:
sample_dict = {
    'emp1': {'name': 'John', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [11]:
tuple1 = (10, 20, 43, 54, 56, 68)
tuple2 = tuple1[2:-2]
print(tuple2)

(43, 54)

In [13]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
tuple1.count(50)

3